# Dependencies
node_modules/

# Environment Variables
.env

# Generated Assets & Reports
js_assets/
reports/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Files
.DS_Store
Thumbs.db
